footer {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.icon-footer i {
  color: #1259c3;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 2em;
}

#copyright {
  text-align: left;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .footer-main {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .footer-main {
    display: flex;
    justify-content: space-around;
  }
}
