#page-header {
  background-color: #eac926;
  padding: 8px;
  width: 100%;
  display: block;
}

#logo img {
  width: 70%;
  padding-top:  10px;
  padding-left: 10px;
}

#page-header #top-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#page-header #top-header .search-form {
  flex-grow: 1;
}
/*
.search-form .search-box{
  width: 80%;
}*/

.search-box input{
font-size: 9px;
padding: 3px;
width: 75%;
}

#page-header #top-header p {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  padding: 10px;
}

.div-header {
  display: flex;
  align-items: center;
}

li {
  margin-left: 10px;
  margin-left: 10px;
}

nav ul {
  list-style-type: none;
  display: none;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  display: none;
}

#menu {
  text-align: center;
  padding: 10px;
}

#menu-button {
  text-align: center;
  background-color: #1259c3;
  color: white;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
}

.img-banner {
  width: 100%;
  display: block;
  padding: 0px;
  margin-bottom: 10px;
  height: 17vh;
    object-fit: cover;
}

@media (min-width: 768px) {
  nav ul {
    display: flex;
  }
  nav a {
    display: initial;
  }
  #logo img {
    width: 70%;
  }
  #page-header #top-header p {
    width: 99%;
    text-align: right;
    z-index: 3;
    position: absolute;
  }
  #page-header #barra {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  #menu-button {
    display: none;
  }
  #top-header {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  #logo img {
    width: 100%;
  }
  #page-header #top-header p {
    width: 70%;
    text-align: right;
    z-index: 3;
    position: absolute;
  }
  #menu-button {
    display: none;
  }
}
