.form-menu {
  height: auto;
  margin: auto;
  box-shadow: 0 9px 50px #fba90a;
  padding: 2%;
  position: relative;
  padding-top: 60px;
  margin-top: 60px;
  margin-bottom: 60px;
}

p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: black;
  padding: 10px;
}

h2 {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: black;
  text-align: center;
  padding: 10px;
  margin-top: 40px;
}

label.form-label {
  padding: 60px;
}

.form-input {
  text-align: left;
  padding: 4px;
  border: #fba90a 2px solid;
  display: block;
  width: 90%;
  margin-left: 10px;
  margin-right: 10px;
}

.usuario {
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: black;
}

label.perfil {
  margin: 20px;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
}

select#perfil {
  border-bottom: #fba90a;
  background-color: #ebebeb;
}

.interes {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  padding: 10px;
}

.interes li {
  list-style-type: none;
}

.interes p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.form-label {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 14px;
  line-height: 40px;
}

.borrar button {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  border: #fba90a 1px solid;
  padding: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

@media (min-width: 768px) {
  .form-input {
    width: 80%;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (min-width: 1200px) {
  .form-input {
    width: 80%;
    margin-left: 90px;
    margin-right: 50px;
  }

  .form-menu {
    width: 60%;
  }
}
